//Colors
$default-yellow: #fdda02;
$black: #000;
$white: #fff;
$blued-gray: #333d47;

// Sizes
$desktop-width: 1200px;
$desktop-lg-width: 2559px;
$mobile-width: 600px;
$mobile-xs-width: 357px;
$nav-height: 70px;

//Fonts
$prox: 'Proxima Nova Rg';
$prox-black: 'Proxima Nova Bl';
