.header {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 40px;
  z-index: 1;
}

.close-btn {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 5%;
  padding: 2vh 0;
  cursor: pointer;
  .close-icon {
    width: 10vw;
    height: auto;
  }
}

.top-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  list-style: none;
  font-size: .8rem;
  color: #ffffff;
  @include mobile {
    width: auto;
  }
}

.btn-search {
  font-size: 1rem;
  color: #ffffff;
}

.top-contact-list {
  margin-left: 25px;
}

.img-icon {
  width: 15px;
}

.phone {
  @include mobile {
    width: 18px;
  }
}

.header-container {
  max-width: 90vw;
}

.navbar-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  margin-left: 25px;
  border-bottom: 3px solid #fff;
  color: #fff;
  transition: color .3s ease-in-out, border-bottom .1s ease-in, transform .1s ease-in;
  &:hover {
    border-bottom: 0 solid #fdda02;
    color: #fdda02;
    transform: translateY(-5px);
  }
  @include mobile {
    margin-top: 2vh;
  }
}

.carousel-item {
  min-height: 400px;
  @include mobile {
    min-height: 100px;
    img {
      width: auto !important;
      height: 100%;
      position: relative;
      left: -100%;
    }
  }
}

.carousel-caption::after {
  content: '';
  position: absolute;
  display: block;
  margin-top: 20px;
  height: 7px;
  width: 100%;
  background-color: #fdda02;
  @include mobile {
    margin-top: 10px;
    height: 4px;
  }
}

.slide-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  @include mobile{
    .slide-row-item {
      h5 {
        font-size: 12px;
      }
    }
  }
}

.carousel-caption {
  text-align: left;
  bottom: 40vh;
  @include mobile {
    bottom: 25vh;
  }
  @include mobile-xs {
    bottom: 45vh;
  }
  @media only screen and (width: 360px) {
    bottom: 39vh;
  }
  @media only screen and (min-width: 992px) and (max-width: 1220px) {
    bottom: 20vh;
    h5 {
      font-size: 16px;
    }
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.carousel-control-next, .carousel-control-prev {
  @include mobile {
    top: 15%;
  }
  @include mobile-xs {
    top: -5%;
  }
}

.arrow-down {
  text-align: center;
  position: absolute;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -115px);
}

.arrow-down a {
  color: #fdda02;
  text-decoration: none;
}

.btn-icon {
  width: 35px;
  height: auto;
}

.navbar-brand {
  @include mobile {
    img {
      width: 32vw;
    }
  }
  @include mobile-xs {
    img {
      width: 22vw;
    }
  }
}

.mobile-social {
  margin-top: -45%;
  button {
    background-color: $blued-gray;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0;
    span {
      color: $default-yellow;
      margin: -5px auto;
      width: 25px;
      height: 25px;
    }
  }
  @include mobile-xs {
    margin-top: -32%;
  }
}

.navbar-collapse {
  @include mobile {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 4vh;
    background-color: rgba(51, 61, 71, 0.9);
    .navbar-nav {
      display: block;
      margin: 0 auto;
      text-align: center;
      position: relative;
      left: -4%;
    }
  }
}

.navbar {
  @include mobile {
    position: absolute;
    top: 2vh;
  }
  @media only screen and (min-width: 992px) and (max-width: 1220px) {
    position: absolute;
    top: 6vh;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1220px) {
  .nav-item a {
    font-size: 12px;
  }
}
