.video {
  text-align: center;
  background-color: $blued-gray;
}

.video-description {
  margin-top: 2.5rem;
}

.title-video {
  font-family: 'Proxima Nova Bl';
  display: block;
  color: $default-yellow;
  font-size: 40px;
  @include mobile {
    font-size: 35px;
    padding: 1vw;
  }
}

.video-text {
  font-family: 'Proxima Nova Rg';
  font-size: 18px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  max-width: 40vw;
  @include mobile {
    max-width: 80vw;
    font-size: 16px;
  }
}

.cartilha {
  margin-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: transparent;
  border-color: $default-yellow;
  border-radius: 0;
  color: #fdda02;
  transition: all .1s ease-in;
  &:hover {
    @include btn-hover;
  }
  @include mobile {
    width: 90vw;
    font-size: 9px;
    padding: 15px 9px 5px !important;
  }
}

.video-frame {
  @include mobile {
    width: 85vw;
    height: 40vh;
    display: block;
    margin: 0 auto;
  }
}
